/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPS */
:root {
  --body-bg: #c99b67;
  --wheat: #f3d7b7;
  --green: #0a775f;
  --text-color0: #333;
  --text-color1: #000;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color0);
  outline-offset: 3px;
}

.button {
  margin: 0;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--green);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}



/* MAIN-CONTENT */
main {
  flex-grow: 1;
}

/* HEADER */
.site-header {
  background-color: var(--wheat);
  margin: 0;
  padding: 0;
}

.header-item {
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.sitenav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.sitenav-list-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-list-item-link {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 700;
  color: var(--text-color0);
  text-transform: uppercase;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 116px 0 249px;
  background-color: var(--wheat);
  background-image:url("../img/coffee-bg-img.jpg");
  background-repeat: no-repeat;
  background-position:left calc(50% + 365px) top;
  background-size: 710px 696px ;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 464px;
  margin: 0 150px auto;
}

.hero-content-title {
  margin: 0 0 24px;
  padding: 0;
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  color: var(--text-color1);
}

.hero-content-text {
  margin: 0 0 34px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color1);
}

.hero-img-stam {
  position: absolute;
  transform: rotate(-25deg);
  z-index: 1;
  top: 49px;
  left: calc(50% + -55px);
  border-radius: 100%;
}


/* COLUMN-1 */
.column-1 {
  margin: 20px 0;
  padding: 0 20px;
  background: url(../img/column-2-bg.png);
  background-repeat: repeat-Y;
}

.column2-header {
  margin: 0;
  padding: 50px 0 80px;
  font-size: 50px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.product-lists-block {
  margin: 0 auto;
  padding: 0 0 70px;
  width: 100%;
  max-width: 1114px;
}

.product-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.product-list-item:nth-child(even){
  justify-content: flex-end;
}

.product-list-item-info:not(:last-child) {
  margin: 0 117px 0 0;
}

.product-list-item-img {
  width: 450px;
  height: 375px;
}

.product-list-item-info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 391px;
  margin: 0;
  padding: 0;
}

.product-list-item-info-link {
  text-decoration: none;
}

.product-list-item-info-title {
  margin: 0 0 10px;
  padding: 0;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color: var(--text-color0);
}

.product-list-item-info-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  color: var(--text-color0);
}


/* FOOTER */
.site-footer {
  background-color: var(--wheat);
  margin: 0;
  padding: 0;
}

.footer-item {
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
}

.sitenav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.sitenav-list-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-list-item-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--text-color0);
  text-transform: uppercase;
  text-decoration: none;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.social-list-item:not(:last-child) {
  margin-right: 40px;
}

.social-list-item-link {
  display: block;
}

.social-list-item-link-img {
  display: flex;
  align-items: center;
}